<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/assets/Sign_In.css">
</head>

<body>
<div class="login">
  <h1><%=Status_CHeck%></h1>
  <form method="post">
    <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
    <p><input type="password" name="passwrd" value="" placeholder="Password"></p>
    <p class="submit"><input type="submit" name="commit" value="Login"></p>
  </form>
</div>
</body>
